.flash-card {
    width: inherit !important;
    height: 100%;
    border-radius: 0 !important;
}

.card-content {
    padding: 2em 2em !important;
}

.answer-btn {
    color: rgb(94, 145, 75) !important;
    border: 2px solid rgb(94, 145, 75) !important;
    background-color: white !important;
}

