.pink {
    color: rgb(232, 146, 144);
}

.green {
    color: rgb(94, 145, 75);
}

.yellow {
    color: rgb(244, 210, 93);
}

.blue {
    color: rgb(100, 168, 192);
}

.orange {
    color: rgb(232, 126, 60);
}