.carousel {
    overflow: hidden;
    max-width: 420px;
    margin: 0 auto;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    background-color: rgb(223, 223, 223);
    color: black;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: green;
    color: black;
}